*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
    gap: 2rem;
    min-height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 34), rgb(44, 2, 92));
    text-align: center;
}

.button {
    position: relative;
    cursor: pointer;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
    padding: 0.75em 1.25em;
    border: 0;
    border-radius: 1.25rem;
    z-index: 1;
    text-align: center;
    /* border: 3px solid red; */
}

.reflective-hover-effect {
    --container-offset: 10px;
    background-image: linear-gradient(90deg, rgb(0, 0, 34), rgb(98, 12, 98), rgb(33, 3, 92));
    opacity: 0;
}

/* .reflective-hover-effect::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    background-image: linear-gradient(90deg, rgb(0, 0, 34), rgb(98, 12, 98), rgb(33, 3, 92));
    z-index: -1;
    opacity: 0.25;
} */


.reflective-hover-effect:is(:hover, :focus, :active) {
    border: 2px solid limegreen;
    opacity: 0.5;
    /* transition: opacity 2500ms; */
}

.reflective-hover-effect:is(:hover, :focus, :active) :is(.square) {
    background: red;
    opacity: 1;
    /* transition: opacity 2500ms; */
}


/* .reflective-hover-effect {
    --container-offset: 0px;
} */

.reflective-container {
    pointer-events: none;
    position: absolute;
    /* inset: calc(var(--container-offset)/-2);
    width: calc(100% + var(--container-offset));
    height: calc(100% + var(--container-offset)); */

    outline: 3px solid green;
    /* opacity: 0; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    /* grid-template-rows: 1fr 1fr; */
}


.square {
    border: 2px solid orange;
    height: 15px;
    width: 15px;
    z-index: 10;
    opacity: 0;
}

.square:hover {
    background-color: red;
    border: 3px solid green;
}