:root {
    --clr-primary-400: hsl(243, 95%, 39%);
    --clr-neutral-100: #fff;
    --clr-neutral-300: hsl(0, 0%, 70%);
    --clr-neutral-900: #000;

    --font-size-300: .975rem;
    --font-size-400: 1.125rem;
    --font-size-500: 1.5rem;
    --font-size-600: 1.75rem;
    --font-size-700: 3rem;

    --space-4: 1rem;
    --space-5: 1.5rem;
    /* --space-5: calc(var(var(--space-4)*1.5)); */
    --space-6: 2rem;
    --space-7: 3rem;
    --space-8: 4rem;

    --body-padding: var(--space-8);
}


* {
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: var(--body-padding);
    font-size: var(--fs-400);
    font-family: 'Quicksand', sans-serif;
    display: grid;
    height: calc(100vh - (var(--body-padding)*2));
}

h1 {
    font-size: var(--font-size-700);
    font-weight: 400;
}

.flex-row {
    display: flex;
    gap: var(--gap, var(--space-4));
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-content-center {
    align-content: center;
}

.grid-even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.grid-70-30 {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: var(--gap, var(--space-4));
}

.stack {
    display: grid;
    grid-template-areas: "stack";
    position: relative;
}

.stack>* {
    grid-area: stack;
}

.stack header {
    align-self: start;
    z-index: 100;
}

.stack footer {
    align-self: end;
    z-index: 100;
}

.nav-list {
    list-style: none;
    font-weight: 700;
}

.main-grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 0 var(--body-padding);
}

.main-grid> :nth-child(1) {
    display: grid;
    text-align: center;
    align-content: space-between;
}

.content-grid {
    display: grid;
    color: var(--clr-neutral-100);
}

.content-grid h1 {
    text-transform: uppercase;
}

.nav-grid {
    color: var(--clr-neutral-900);
    z-index: 10;
}

.nav-item ul {
    list-style: none;
}

.nav-item h3 {
    color: var(--clr-primary-400);
    font-size: var(--font-size-400);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0.7em;
}

.nav-item ul>li {
    color: var(--clr-primary-400);
    font-weight: 400;
}

.content-grid-bg,
.nav-grid-bg {
    clip-path: inset(0 0 0 0);
    transition: clip-path 500ms ease;
}

.content-grid-bg {
    background: var(--clr-primary-400);
}

.nav-grid-bg {
    background: var(--clr-neutral-100);
}

.nav-grid-bg,
.nav-grid {
    clip-path: inset(0 100% 0 0);
    transition: clip-path 500ms ease;
}

.nav-grid-bg {
    transition-delay: 500ms;
}

.content-grid-bg,
.content-grid {
    clip-path: inset(0 0 0 0);
    transition: clip-path 500ms ease;
}

[data-big-nav-open] .nav-grid-bg,
[data-big-nav-open] .nav-grid {
    clip-path: inset(0 0 0 0);
}

[data-big-nav-open] .nav-grid {
    transition-delay: 200ms;
}

[data-big-nav-open] .content-grid-bg,
[data-big-nav-open] .content-grid {
    clip-path: inset(0 0 0 100%);
    transition-delay: 200ms;
}

.nav-list>*,
.footer-list>*,
.footer-list a[href] {
    color: var(--clr-neutral-100);
}

.footer-list>*,
.footer-list a[href] {
    transition-delay: 200ms;
}



[data-big-nav-open] .nav-list>*,
[data-big-nav-open] .footer-list>*,
[data-big-nav-open] .footer-list a[href] {
    color: var(--clr-primary-400);
    transition-delay: 500ms;
}

[data-big-nav-open] .footer-list>*,
[data-big-nav-open] .footer-list a[href] {
    transition-delay: 300ms;
}



.video-bg,
.nav-grid-bg,
.content-grid-bg {
    position: absolute;
    inset: calc(-1 * var(--body-padding));
}

.content-grid-bg {
    z-index: -2;
    mix-blend-mode: multiply;
    background: var(--clr-primary-400);
}

.nav-grid-bg {
    z-index: -1;
    background: white;
    mix-blend-mode: color;
    transition: clip-path 300ms ease;
}

.video-bg {
    z-index: -3;
}

.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.hamburger {
    background: var(--clr-primary-400);
    border: 0;
    transition-delay: 300ms;
}

[data-big-nav-open] .hamburger {
    background: transparent;
    transition-delay: 200ms;
}

.hamburger a {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger a:hover {
    border: 2px solid var(--clr-neutral-300);
}

[data-big-nav-open] .hamburger a {
    background-color: var(--clr-neutral-300);
}

[data-big-nav-open] .hamburger a:hover {
    border: 2px solid var(--clr-primary-400);
}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: white;
    border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}

.hamburger .bar::before {
    top: -4.5px;
}

.hamburger .bar::after {
    top: 4.5px;
}

[data-big-nav-open] .menu-toggle {
    position: relative;
    width: 5%;
    aspect-ratio: 1;
    border-radius: 50%;
}

[data-big-nav-open] .menu-toggle:hover {
    cursor: pointer;
    background: var(--clr-neutral-400);
}

.send-request {
    background: var(--clr-neutral-100);
    color: var(--clr-primary-400);
    text-transform: uppercase;
    font-weight: 500;
    top: 20px;
    padding: 0.5em 0.75em;
    border-radius: .25em;
    text-decoration: none;
    position: relative;
}

.send-request::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 3px solid var(--clr-neutral-300);
    outline-offset: 0px;
    border-radius: inherit;
    opacity: 0;
}

.send-request:hover::after {
    opacity: 0.8;
    outline-offset: 1px;
    transition: outline-offset 50ms ease, opacity 50ms ease;
}