/* @font-face {
    font-family: "Betterfly";
    src: url("../fonts/betterfly0draf-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "BFNarrow";
    src: url("../fonts/betterfly-narrow-webfont.woff2") format(woff2);
}


@font-face {
    font-family: "Crimson Text";
    font-style: italic;
    font-weight: 400;
    src: local("Crimson Tet Italic"), local("CrimsonText-Italic"),
        url("https://fonts.gstatic.com/crimsontext/v8/wlpogwHKFk2gtmSR3N00oRJfajhRK_2_3rhH.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-022BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2191 U+2193, U+2212, U+2215, U+FEFF, U+FFDD;
} */

:root {}

html {
    box-sizing: border-box;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    color: var(--black);
}


*,
*::before,
*::after {
    box-sizing: inherit;
}